<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Applied Innovations Institute &middot; </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->

    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap-responsive" %>
  </head>

  <body>

    <%= render "/navbar"%>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span12">
          <h2 style="font-size: 50pt"><%= "Welcome #{@user.name}!" %></h2>
        </div>
      </div><!-- /.row -->
    
    <hr class="featurette-divider">
      <!-- START THE FEATURETTES -->
      <br>
      <div class="row">
        <div class = "span6">
          <h3><%= "Active Projects" %></h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Project Name</th>
                  <th>Project Owner</th>
                  <th>Date Created</th>
                </tr>
              </thead>
            <tbody>
            <% @user.projects.each do |project| %>
              <tr>
                <td><%= link_to project.title, project_path(project.id) %></td>
                <td><%= link_to project.creator.name, profile_path(project.creator.id) %></td>
                <td><%= project.created_at %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class = "span4 offset2">
          <h3>My Profile Information</h3>
            <%= link_to "Edit Profile", edit_profile_path(@user.id) if @is_mine %>
            <table class="table table-striped">
            <thead>
              <tr>
                <th>Category</th>
                <th>Your Info</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Name</td>
                <td><%= @profile.name %></td>
              </tr>
              <tr>
                <td>Email</td>
                <td><%= @profile.email %></td>
              </tr>
              <tr>
                <td>School</td>
                <td><%= @profile.school.name %></td>
              </tr>
              <tr>
                <td>Major</td>
                <td><%= @profile.major %></td>
              </tr>
              <tr>
                <td>Graduation Year</td>
                <td><%= @profile.gradyear %></td>
              </tr>
              <tr>
                <td>About Me</td>
                <td><%= @profile.aboutme %></td>
              </tr>
            </tbody>
          </table>
        </div>

      <!-- FOOTER -->
      <footer>
        <p>&copy; 2012 Semen Janbanana, Stove Fanborove, Bart Glooey, Null Moldy, Dog Wonton &middot; </p>
      </footer>

<!-- /.container -->


  </body>
</html>
