<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Applied Innovations Institute &middot; </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->

    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap-responsive" %>
  </head>

  <body>

    <%= render "/navbar"%>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span6 offset3">
          <h2><%= "Welcome #{@user.name}!" %><%= link_to "Edit", edit_profile_path(@user.id) %></h2>
        </div>
      </div><!-- /.row -->
    
    <hr class="featurette-divider">

    <hr class="featurette-divider">
      <!-- START THE FEATURETTES -->
      <div class="row">
        <div class = "span7">
          <h3><%= "Active Projects" %></h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Project Name</th>
                  <th>Project Owner</th>
                  <th>Date Created</th>
                </tr>
              </thead>
            <tbody>
            <% @user.projects.each do |project| %>
              <tr>
                <td><%= project.title %></td>
                <td><%= project.creator.name %></td>
                <td><%= project.created_at %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class = "span5">
          <h3>My Information</h3>
            <table class="table table-striped">
            <thead>
              <tr>
                <th>Category</th>
                <th>Your Info</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Name</td>
                <td><%= @profile.name %></td>
              </tr>
              <tr>
                <td>Email</td>
                <td><%= @profile.email %></td>
              </tr>
              <tr>
                <td>School</td>
                <td><%= @profile.school_id %></td>
              </tr>
              <tr>
                <td>Major</td>
                <td><%= @profile.major %></td>
              </tr>
              <tr>
                <td>Graduation Year</td>
                <td><%= @profile.gradyear %></td>
              </tr>
              <tr>
                <td>About Me</td>
                <td><%= @profile.aboutme %></td>
              </tr>
            </tbody>
          </table>
        </div>


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2012 CET &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

<!-- /.container -->


  </body>
</html>
