<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Applied Innovations Institute &middot; </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->

    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap-responsive" %>
  </head>

  <body>


    <%= render "/navbar"%>

      <div class = "span1 offset11">
        <%= link_to "Edit Profile", edit_profile_path(@user.id) if @is_mine %>
      </div>

      <div class="row">
        <div class = "span3 offset2">
          <img src = "http://4.bp.blogspot.com/-j9Asko9E7aE/UIVEYaYRMkI/AAAAAAAAEP8/hKxOgYfwWHc/s1600/smiley+face_full.jpg">
        </div>

        <div class = "span4">
          <table>
            <thead align = "left">
              <tr>
                <th><h2><%= @profile.name %></h2></th>
              </tr>
            </thead>
            <tbody>
              <tr align = "left">
                <td> About Me: <%= @profile.aboutme %></td>
              </tr>
            </tbody>
          </table>
          <br>


            <table class="table table-striped">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td>Email</td>
                <td><%= @profile.email %></td>
              </tr>
              <tr>
                <td>School</td>
                <td><%= @profile.school.name %></td>
              </tr>
              <tr>
                <td>Major</td>
                <td><%= @profile.major %></td>
              </tr>
              <tr>
                <td>Graduation Year</td>
                <td><%= @profile.gradyear %></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <br>
      <br>
      <div class = "row">
        <div class = "span6 offset3">
          <h3><%= "Active Projects" %></h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Owner</th>
                  <th>Collaborators</th>
                  <th>Last Updated</th>
                </tr>
              </thead>
            <tbody>
            <% @profile.projects.each do |project| %>
              <tr>
                <td><%= link_to project.title, project_path(project.id) %></td>
                <td><%= link_to project.creator.name, profile_path(project.creator.id) %></td>
                <td><%= project.users.length %>
                <td><%= time_ago_in_words(project.updated_at) %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>

      </div>
      <!-- FOOTER -->
      <br>
      <br>

    <%= render "/footer"%>

  </body>
</html>
