<html>
<head>
  <%= image_tag("logo.png") %>
  <title>Applied Innovations Institute</title>
  <%= stylesheet_link_tag "bootstrap" %>
</head>

<body>
  <h1><%= @project.title %></h1>

  <%= form_tag edit_project_path do %>

    <%= label :project, :name, "Title:" %>
    <%= text_field :project, 'title', :value => @project.title %>

    <%= label :project, :description, "Enter a short description:" %>
    <br><textarea class="field span12" id="description" rows="6"><%= @project.description %></textarea>
    
    Collaborators
    <% @project.users.each do |user| %>
      <% # you have to make it so your own name doesn't appear on this list %>
      <%= user.name %>
    <% end %>

  <%= submit_tag "Create Project" %>

  <% end %>
  
</body>
</html>
