<html>
<head>
  <%= image_tag("logo.png") %>
  <title>Applied Innovations Institute</title>
  <%= stylesheet_link_tag "bootstrap" %>
</head>

<body>

  <%= render "/navbar"%>
  
  <h1><%= @project.title %></h1>

  <%= form_tag edit_project_path do %>

    <%= label :project, :title, "Title:" %>
    <%= text_field :project, :title, :value => @project.title, %>

    <%= label :project, :description, "Enter a short description:" %>
    <textarea class="field span12" id="project_description" name="project[description]" rows="6"><%= @project.description %></textarea>

  <br><br> <%= submit_tag "Update Project" %>

  <% end %>
  
</body>
</html>
