<html>
<head>
  <%= stylesheet_link_tag "bootstrap" %>
</head>

<body>

  <%= render "/navbar"%>
  
  <h1><%= link_to @project.title, project_path(@project.id) %></h1>

  <h2>Collaborators</h2>
  <br>

  <% @project.users.each do |user| %>
    <% # you have to make it so your own name doesn't appear on this list %>
    <% if user != @user %>
      <p><%= user.email %></p>
      <%= button_to "Delete", destroy_collaborator_path(@project.id, user.id), :id => 'delete_' + user.id.to_s %>
    <% end %>
  <% end %>

  <%= form_tag add_collaborator_path do %>
    <%= text_field_tag :collaborator %>
    <%= submit_tag "Add Collaborator" %>
  <% end %>

</body>
</html>
