<html>
<head>
  <%= stylesheet_link_tag "bootstrap" %>
</head>

<body>
  <div id="wrapper">

    <div id="header"> 
      <%= render "/navbar"%>
    </div>

    <div id="content">
      <h1><%= link_to @project.title, project_path(@project.id) %></h1>
      <h2>Collaborators</h2>
      <br>

  <% @project.users.each do |user| %>
    <% # you have to make it so your own name and creator doesn't appear on this list %>
    <% if @user != user and user != @project.creator %>
      <p><%= user.email %></p>
      <%= button_to "Delete", destroy_collaborator_path(@project.id, user.id), :id => 'delete_' + user.id.to_s %>
      <% end %>
      <% end %>
      
      <%= form_tag add_collaborator_path do %>
      <%= text_field_tag :collaborator %>
      <%= submit_tag "Add Collaborator" %>
      <% end %>
    </div>

    <div id="footer">
      <%= render "/footer"%>
    </div>

  </div>
</body>
</html>
