<html>
<head>
  <%= stylesheet_link_tag "bootstrap" %>
</head>

<body>

  <%= render "/navbar"%>
  
  <h1><%= link_to @project.title, project_path(@project.id) %></h1>

  <%= button_to "Delete Project", destroy_project_path(@project.id) if @can_delete %>

  <%= link_to "Edit Collaborators", edit_collaborators_path(@project.id) %>

  <%= form_tag edit_project_path do %>

    <%= label :project, :title, "Title:" %>
    <%= text_field :project, :title, :value => @project.title, %>

    <%= label :project, :description, "Enter a short description:" %>
    <textarea class="field span12" id="project_description" name="project[description]" rows="6"><%= @project.description %></textarea>

  <br><br> <%= submit_tag "Update Project" %>

  <% end %>
  
  <%= render "/footer"%>

</body>
</html>
