<html>
<head>
  <%= image_tag("logo.png") %>
  <title>Applied Innovations Institute</title>
  <%= stylesheet_link_tag "bootstrap" %>
</head>

<body>
  <h1><%= @project.title %></h1>

  <form>
  <br><textarea class="field span12" id="description" rows="6"><%= @project.description %></textarea></br>
  <% @project.users.each do |user| %>
  <%= user.name %>
  <% end %>
  </form>

</body>
</html>
