<html>
<head>
  <%= image_tag("logo.png") %>
  <title>Applied Innovations Institute</title>
  <%= stylesheet_link_tag "bootstrap" %>
</head>

<body>
  <h1>New Project</h1>

  <%= form_tag new_project_path do %>

    <%= label :project, :name, "Title:" %>
    <%= text_field :project, 'title' %>

    <%= label :project, :description, "Enter a short description:" %>
    <p><textarea class="field span12" name="project[description]" rows="6"></textarea></p>

    <%= label :project, :collab1, "Collaborator 1:" %>
    <%= text_field :project, 'collab1' %>

    <%= label :project, :collab2, "Collaborator 2:" %>
    <%= text_field :project, 'collab2' %>

    <%= label :project, :collab3, "Collaborator 3:" %>
    <%= text_field :project, 'collab3' %>

    <%= label :project, :collab4, "Collaborator 4:" %>
    <%= text_field :project, 'collab4' %>

    <br><%= submit_tag "Create Project" %></br>
  <% end %>

</body>
</html>
