<html>
<head>
    <meta charset="utf-8">
    <title>Applied Innovations Institute &middot; </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->

    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap-responsive" %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

<body>
  
  <%= render "/navbar"%>

  <div class = "row">
    <div align = "center">
      <h2><%= @project.title %></h2>
      <h5><%= link_to "Edit Project", edit_project_path(@project.id) if @can_edit %></h5>
    </div>
  </div>
  
  

  <hr class="featurette-divider">
  

  <div class = "row">
    <div align = "center">
          <h4>Description</h4>
    <p><%= @project.description %>
    </div>
  </div>

  <div class = "row">
    <div align = "center">
      <h4>Last Updated</h4>
      <p><%= time_ago_in_words(@project.updated_at) %></p>
    </div>
  </div>

  <div class = "row">
    <div align = "center">
      <h4>Created</h4>
      <p><%= @project.created_at.to_formatted_s(:long) %></p>
    </div>
  </div>


  <div class = "row">
    <div align = "center">
    <h4>Collaborators</h4>
    <% @project.users.each do |user| %>
      <% if user != @user %>
        <p><%= link_to user.email, profile_path(user.id) %></p>
      <% end %>
    <% end %>
    <h5> <%= link_to "Edit Collaborators", edit_collaborators_path(@project.id) %> </h5>
      </div>
  </div>
  
</body>
</html>
