<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Applied Innovations Institute &middot; </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->

    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap-responsive" %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <%= render "/navbar"%>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span2 offset2">
          <%= image_tag("berkeleySeal.png", :size => "150x150") %>
        </div>
        <div class="span5">
          <%= image_tag("ucberkeley.jpg", :size => "400x150") %>
          <!-- <h4 style="font-size: 72pt; color: 0xfefefe"><em>UC Berkeley</em> </h4> -->
        </div>
      </div><!-- /.row -->
    
    <br>
    <hr class="featurette-divider">
      <div class="row">
        <div class="span6 offset3">
          <p class="text-info" style="font-size: 25pt; color: 0x000000"><em>Upcoming Events</em></p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="span4">
          <p>
            <strong>CSUA Hackathon, November 11th</strong>
            <br>
            <small>Click here for signups!</small>
          </p>
          <%= image_tag("csua.png", :size => "500x200") %>
          <p class="text-info">
            Signup deadline: 11/8/2012
            <br>
            Teams of up to 4 allowed. Prizes for winners. Event sponsored by Oracle
          </p>
        </div>
        <div class="span4">
          <p>
            <strong>Google Tech Talk</strong>
            <br>
            <small>8pm Wozniak Lounge, 12/4/2012</small>
          </p>
          <%= image_tag("googleLogo.png", :size => "220x200") %>
          <p class="text-info">Food provided by Bongo Burger. Prizes will be raffled off. Resumes accepted.</p>
        </div>
        <div class="span4">
          <p>
            <small>3rd Annual</small> <br>
            <h2><strong>University Mobile Challenge</strong></h2>
          </p>
          <p class="text-info">Barcelona | 25-28 February 2013</p>
        </div>
      </div><!-- /.row -->

    <hr class="featurette-divider">
      <!-- START THE FEATURETTES -->
      <div class="row">
        <div class = "span6">
          <h3><%= "Newest Projects by #{@name} students" %></h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Project Name</th>
                  <th>Project Owner</th>
                  <th>Date Created</th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Saving Africa</td>
                <td>Mani Zimbabo</td>
                <td>4/23/2012</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Saving Africa</td>
                <td>Mani Zimbabo</td>
                <td>4/23/2012</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Saving Africa</td>
                <td>Mani Zimbabo</td>
                <td>4/23/2012</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Saving Africa</td>
                <td>Mani Zimbabo</td>
                <td>4/23/2012</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class = "span6">
          <h3>Popular Projects</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Project Name</th>
                  <th>Project Owner</th>
                  <th>Date Created</th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Saving Africa</td>
                <td>Mani Zimbabo</td>
                <td>4/23/2012</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Saving Africa</td>
                <td>Mani Zimbabo</td>
                <td>4/23/2012</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Saving Africa</td>
                <td>Mani Zimbabo</td>
                <td>4/23/2012</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Saving Africa</td>
                <td>Mani Zimbabo</td>
                <td>4/23/2012</td>
              </tr>
            </tbody>
          </table>
        </div>


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2012 CET &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

<!-- /.container -->
  </body>
</html>
