<html>

<head>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap-responsive" %>
</head>
<body>
  <% if flash[:error] %>
    <p class="notice"><%= flash[:error] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand pull-left" href = "<%= school_path(@user.school.uri) %>">
       <%=image_tag("logo.png", :size => "100x50", :border => 0) %>

     </a>
      <font size="4">
      <ul class="nav">
        <li><%= link_to @user.school.name, school_path(@user.school.uri) %></li>
        <li><%= link_to "Profile", profile_path(@user.id) if @user %></li>
        <li><%= link_to "New Project", new_project_path if @user %></li>
	<li><%= link_to "Manage Events", events_path if @user.admin %></li>
      </ul>
      </font> 
      <form class="navbar-search pull-right">
        <span class="add-on"><i class="icon-search"></i></span>
        <input type="text" class="search-query" placeholder="Search">
      </form>
      <font size="4">
      <ul class="nav pull-right">
        <li><%= link_to "Logout", logout_path %></li>
      </ul>
      </font> 
      <!--<a class="pull-right" href= "/auth/developer" id = 'login'>Login</a>-->

    </div>

  </div>

</body>
</html>
